* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

  }
body{
    background-color:#fafbfd ;
    background-image: url();
    color: black;
    
}

.titulo{
    text-align: center;
    margin: 80px;
    
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
    
      
  
}

.div{
    
    background-color: #fafbfd;
    color: #004D2B;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    
    
}
header img{
    width: 25%;
    margin: 0px 400px 0px 100px;
 
    
}
header{
    background-color: #004D2B;
    margin: 0px 30px;
    display: flex;
    justify-content: center;
    /*alin items..items, estoy viendo si lo uso */
}
nav ul  {
    display: flex;
    gap: 30px;
    margin: 0px 80px 10px 50px;
    padding: 40px;
    
}
.texto{
    margin: -400px 500px 200px -300px;
    padding: 400px;
    
    font-family: "Permanent Marker", cursive;
    font-weight: 500;
    font-style:normal;
    text-align: center;
    

    
}
main{
    background-image: url();
}
main div{
  display: flex;
  justify-content: center;
  align-items: center;  
  margin: 50px;
  
}
.boton{
  background-color: #004D2B;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;

}

.multimedia{
    width: 30%;
    
    display: flex;
    justify-content: center;
    margin: -500px 100px 100px 700px;
    
}

.carrito{
    width: 60px;
    margin: 20px;
    padding: 10px;
}
button{
    background-color:tan;
    font-size: 15px;
    border: unset;
}

#productos-conteiner{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    max-width: 800px;
    margin: auto;
}
.tarjeta-producto{
    max-width: 200px;
    gap: 15px;
    margin: 80px;
    padding: 30px;
    text-align: center;
    
}

.tarjeta-producto img{
    width: 100%;
    aspect-ratio: 1;
    

}


 