* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

  }
body{
    background-color:#040708;
    color: wheat;
    margin: auto;
    
}

.titulo{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: -300px;
    padding: 60px;
    color: #f4f4f4;
    font-size:50px;
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}

.div{
    
    background-color:#f4f4f4;
    color:black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
   
    
    
}
header img{
    width: 25%;
    margin: 0px 400px 0px 100px;
 
    
}
header{
    background-color: #FAFBFD;
    margin: 0px 30px;
    display: flex;
    justify-content: center;
    /*alin items..items, estoy viendo si lo uso */
}
nav ul  {
    display: flex;
    gap: 30px;
    margin: 0px 80px 10px 50px;
    padding: 40px;
    
}
.texto{
    margin: 200px 400px 800px -100px;
    padding: 400px;
    text-align: center;
    color: #f4f4f4;
}
main{
    background-image: url();
}
main div{
  display: flex;
  justify-content: center;
  align-items: center;  
  margin: 50px;
  
}
.mainphoto{
    width: 100%;
    height: 100vh;
    margin: -30px 200px 0px 0px;
    padding: 30px;
    
    
}
.boton{
  background-color: #004D2B;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;

}



.carrito{
    width: 60px;
    margin: 20px;
    padding: 10px;
}
button{
    background-color:#62332F;
    color: #f4f4f4;
    font-size: 15px;
    border-style:groove;
    
  
}

#productos-conteiner{
    display: flex;
    flex-wrap: wrap;
    
    
}
.tarjeta-producto{

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 25%;
  text-align: center;
  align-items: center;
  margin: 0px 30px 0px 80px;
  padding: 150px;
  color: #f4f4f4;
  text-shadow: 1px 1px 3px rgba(1,2,1,1);
    
}
.tarjeta-producto img{
    max-width: 800%;
}
.tarjeta-producto :hover{
    transform: scale(2);
}
.logo{
    width:15%;
    
}
.tienda{
    display: flex;
    justify-content: center;
    margin: -1900px 0px 600px 0px;
    padding: 400px;
   
   
}


 